<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">


<html>
<head>
	<meta charset="utf-8">
	<title>AMK - Details</title>
	<h1>AMK</h1>
	<h3>Atemberaubende Museums-Holzschnitt Kollektion</h3>
</head>

<body id="Startseite">
	<div class="suchfeld">
		<form action="{{ url_for('search') }}" method="post">
			<input type="text" name="holzschnitte">
			<datalist id="Holzschnitte">
				<option value="Autor">
			</datalist>
			<input type="submit" value="suchen">
		</form>
	</div>
	<div class="menue">
		<ul class="nav" id="navibereich">
			<li><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">WikiData</a></li>
			<li><a href="">Filter</a></li>
		</ul>
	</div>

	<!--Menue Ende!-->
	<div class="container">
		<div class="flex-container">

		<div class="img">
			<a href="{{ object.url }}" data-lightbox="bild-1">
			    <img src="{{ object.url }}" onclick="openModal();currentSlide(1)" class="hover-shadow" style="width: 70%; height: 100%;">
			</a>
		</div>

		<article class="article">
		  <h1>Bild:</h1>
		  <br>
		  <p>Informationen zum Bild</p>
		  <p>Name: {{ object.title }}</p>
		  <p>Ort:{{ object.place }}</p>
		  <p>Maße: {{ object.maße }}</p> 
		  <p>weitere Infos: {{ object.materials }}</p>
		  <p>Tags: {{ object.tags }}</p>
		</article>

		<article class="article">
		  <h1>Künstler:</h1>
		  <br>
		  <p>Informationen zum Künstler(XML)</p>
		  <p>Name: {{ object.actor }}</p>
		  <p>Geboren:{{ object.birth }}</p>
		  <p>Gestorben: {{ object.death }}</p>
		  <br>
		  <p>Informationen zum Künstler(DB-Pedia)</p>
		  <p>Name: {{ kunstler.name }}</p>
		  <p>Geschlecht: {{ kunstler.geschlecht }}</p>
		  <p>Geboren: {{ kunstler.geburtsdatum }}</p>
		  <p>Gestorben: {{ kunstler.todesdatum }}</p>
		  <p>Beschreibung: {{ kunstler.beschreibung }}</p>
		</article>

		</div>
	</div>
</body>
</html>