<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}">
<html>
<head>
	<meta charset="utf-8">
	<title>AMK</title>
	<h1>AMK</h1>
	<h3>Atemberaubende Museums-Holzschnitt Kollektion</h3>
</head>
<body id="Startseite">
	<div class="suchfeld">
		<form action="{{ url_for('search') }}" method="post">
			<input type="text" name="holzschnitte">
			<datalist id="Holzschnitte">
				<option value="Autor">
			</datalist>
			<input type="submit" value="suchen">		
		</form>
	</div>
	<div class="menue">
		<ul id="navibereich">
			<li><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">WikiData</a></li>
			<li><a href="{{ url_for('filter') }}">Filter</a></li>
		</ul>
	</div>

	{% if filter %}
		<div class="filter">
			<form name="kunstler">
				<h5> Künstler:</h5>
				<ul>
				{% for letter in letters %}
					<form name="{{ letter.name }}">
						<li onclick="renderListe('{{ letter.name }}')" style="display: inline-block;"> {{ letter.name }} <br>
						</li><br>
						<form name="kunstlerliste">
							<ul id="{{ letter.name }}" style=" display: none;">
								{% for object in objects %}
								{% if object["anfang"] == letter["name"] %}
									<li> <a style="display: table-row; color: black;"href="{{ url_for('.filterActor',kunstler=object.name) }}">{{ object.name }}</a> </li> <br>
								{% endif %}
								{% endfor %}
								</ul>
							</form>
					</form>
				{% endfor %}

				</ul>
			</form>

			<form name="datumliste">
				<h6> Datum:</h6>
				<ul>
					{% for date in dates %}
						<li> <a style="display: table-row; color: black;"href="{{ url_for('.filterDatum',datum=date.datum) }}">{{ date.datum }}</a> </li> <br>
					{% endfor %}
				</ul>
			</form>

			<form name="ortliste">
				<h7> Ort:</h7>
				<ul>
					{% for ort in orte %}
						<li> <a style="display: table-row; color: black;"href="{{ url_for('.filterOrt',ort=ort.ort) }}">{{ ort.ort }}</a> </li> <br>
					{% endfor %}
				</ul>
			</form>
		</div>

	{% else %}
		<h6> {{ text }} </h6>
	{% endif %}
	

	<script>
		function renderListe(letter) {
			liste = document.getElementById(letter);
			console.log(liste.style.display);
			if (liste.style.display == 'none') {
				liste.style.display = 'initial';
			} else {
				liste.style.display = 'none';
			}
		}

	</script>

</html>


