<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}">
<html>
<head>
	<meta charset="utf-8">
	<title>AMK</title>
	<h1>AMK</h1>
	<h3>Atemberaubende Museums-Holzschnitt Kollektion</h3>
</head>
<body id="Startseite">
	<div class="suchfeld">
		<form action="{{ url_for('search') }}" method="post">
			<input type="text" name="holzschnitte">
			<datalist id="Holzschnitte">
				<option value="Autor">
			</datalist>
			<input type="submit" value="suchen">
		</form>
	</div>
	<div class="menue">
		<ul id="navibereich">
			<li><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">WikiData</a></li>
			<li><a href="{{ url_for('filter') }}">Filter</a></li>
		</ul>
	</div>

	{% if searchBool %}
		<h4> {{ text }} </h4>
	{% endif %}

	<!-- Neue Bildergellerie-->
	<div class="container-a1">
    	<ul class="caption-style-1">
    		{% for object in objects %}
      		<li>
       			<img src="{{ object.url }}" style="width: 300px; height: 200px; padding: 35px;">
       			<!--<a href="{{ url_for('.detail',bild=object.title) }}">weitere Details</a> -->
        		<div class="caption">
				    <div class="blur"></div>
				    <div class="caption-text">
				    	<a href="{{ url_for('.detail',bild=object.title) }}">
		        		<p>Künstler: {{ object.actor }} </p>
		        		<p>Titel: {{ object.title }}</p>
		        		</a>
		      		</div>
        		</div>
     		</li>
     		{% endfor %}
  		</ul>
  </div>

<!-- alte Gellerie
	<div id="gallery">
		<div class="row">
			{% for object in objects %}
			<div class="column">
				<figure class="{{ loop.index }}">
					{{ loop.index }}
					<img src="{{ object.url }}"  class="hover-shadow" style="width: 350px; height: 260px; padding: 10px;">
					<a href="{{ url_for('.detail',bild=object.title) }}">Details</a> 
				
					<figcaption>Künstler: {{ object.actor }} <br> Titel: {{ object.title }} </figcaption>
				</figure>
			</div>
			{% endfor %}




		</div>
	</div>
-->
</html>
